.c105 {
    background-color: #fff;
    line-height: 1.8;
    padding: 30px 15px
}

.c105 .fs {
    font-size: 16px
}

.c105 .tc {
    text-align: center
}

.c105 .tl {
    text-align: left
}

.c105 .indent-10 {
    text-indent: 10px
}

.c105 .mt-10 {
    margin-top: 10px
}

.c105 .mt-20 {
    margin-top: 20px
}

.c105 .mr-20 {
    margin-right: 20px
}

.c105 .floatL {
    float: left
}

.c105 .floatR {
    float: right
}

.c105 .marginL-8 {
    margin-left: 5%
}

.c105 .marginL-11 {
    margin-left: 10%
}

.c105 .marginL-20 {
    margin-left: 20%
}

.c105 .mib {
    display: block
}

.c105 .textDecoration {
    text-decoration: underline
}

.c105 .cred {
    color: red
}

.c105 .table {
    width: 100%;
    border: 1px solid #242424;
    border-collapse: collapse
}

.c105 .table td, .c105 .table tr {
    border: 1px solid #252525;
    padding: 2px 5px
}

.c105 .table .leftw {
    width: 24%
}

.c105 .table .centerw {
    width: 40%
}

.c105 .table .rightw {
    width: 36%
}